@import 'core/Reset';
@import 'core/Variables';

html {
  height: 100%;
  background-color: $color-dark;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}
