<header class="header">
    <nav class="header__nav">
        <div class="header__nav--div">
            <i class="fa-solid fa-laptop-code"></i>
            <p class="text">Proyectos Molones</p>
        </div>
        <a href="https://www.adalab.es/" class="header__nav--logo" target="_blank" rel="noopener noreferrer">
            <img src={logoAdalab} alt="adalab" />
        </a>
    </nav>

    <div class="header__title">
        <h1>Proyectos molones</h1>
        <h2>
            Escaparate en línea para recoger ideas a través de la tecnología
        </h2>
    </div>
</header>