$color-white: #ffffff;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-dark: #302c42;
$color-dark-lilac: #8176af;
$greyish-brown: #505050;
$color-black: black;
$greyish-brown-Two: #575757;
$warm-grey: #909090;
$color-dusk: #403a5f;
$color-dusk-two: #211e2e;
$color-dark-lilac-two: #c0b7e8;

$font-family-catamaran: 'Catamaran', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
