@import '../core/Reset';
@import '../core/Variables';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen {
    width: 90vw;
    padding: 40px 40px 0;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media screen {
      width: 100%;
    }

    &--div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;

      i {
        color: $color-white;
        font-size: 3rem;
      }

      .text {
        color: $color-white-50;
        font-size: 1.4rem;
        font-family: $font-family-poppins;
        font-weight: 300;
      }
    }

    &--logo {
      img {
        width: 110px;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    h1 {
      color: $color-white;
      font-size: 4rem;
      font-family: $font-family-montserrat;
      font-weight: bold;
      text-align: center;

      @media screen {
        width: 100%;
      }
    }

    h2 {
      color: $color-white;
      font-size: 1.8rem;
      font-family: $font-family-montserrat;
      font-weight: 300;
      text-align: center;

      @media screen {
        padding: 20px;
      }
    }

    &--new-btn {
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: $color-white;
      border-radius: 20px;
      width: 116.4px;
      height: 21.9px;
      margin: 10px;
      text-align: center;
      padding-top: 7px;
      text-decoration: none;

      @media screen {
        font-size: 1.6rem;
        width: 180px;
        height: 35px;
      }
    }

    &--see-btn {
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: $color-dark-lilac;
      color: $color-white;
      border-radius: 20px;
      width: 116.4px;
      height: 21.9px;
      margin: 10px;
      text-align: center;
      padding-top: 7px;
      text-decoration: none;

      @media screen {
        font-size: 1.6rem;
        width: 180px;
        height: 35px;
      }
    }
  }
}
