@import '../core/Reset';
@import '../core/Variables';

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  z-index: 100;
  height: auto;
  

  @media screen {
    width: 100vw;
    padding: 40px 40px 0;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    background-color: lavender;
    top: 0;
    padding: 0 15px;
    

    @media screen {
      width: 100%;
      height: 70px;
    }

    &--div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
   

      i {
        color: $color-dusk;
        font-size: 2rem;

        @media (min-width: 768px) {
          font-size: 3rem;
        }
      }

      .text {
        color: $color-dusk;
        font-size: 1rem;
        font-family: $font-family-poppins;
        font-weight: 300;

        @media (min-width: 768px) {
          font-size: 1.3rem;
        }
      }
    }

    &--logo {
      img {
        width: 110px;
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 40px;
    color: $color-white;

    @media (min-width: 768px) {
      position: fixed;
      z-index: 100;
      background-color: lavender;
      color:$color-dusk;
      width: 100vw;
      margin-top: 20px;
    }


    h1 {
      
      font-size: 4rem;
      font-family: $font-family-montserrat;
      font-weight: bold;
      text-align: center;

      @media screen {
        width: 100%;
      }
    }

    h2 {
      
      font-size: 1.8rem;
      font-family: $font-family-montserrat;
      font-weight: 300;
      text-align: center;

      @media screen {
        padding: 20px;
      }
    }

    &--new-btn {
      font-size: 1rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: $color-white;
      color: $color-dusk;
      border-radius: 20px;
      width: 116.4px;
      height: 21.9px;
      margin: 24px 10px 10px 10px;
      text-align: center;
      padding-top: 7px;
      text-decoration: none;

      @media (min-width: 768px){
        font-size: 1.3rem;
        width: 180px;
        height: 35px;
      }
    }

    &--see-btn {
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;
      background-color: $color-dark-lilac;
      color: $color-white;
      border-radius: 20px;
      width: 116.4px;
      height: 21.9px;
      margin: 10px;
      text-align: center;
      padding-top: 7px;
      text-decoration: none;

      @media screen {
        font-size: 1.6rem;
        width: 180px;
        height: 35px;
      }
    }
  }
}
