.landing {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 90%;
  @media (min-width: 768px) {
    width: 80%;
    display: flex;
    margin-top: 30vh;
  }
  @media (min-width: 1024px) {
    width: 50%;
  }
  &__cards {
    display: grid;
    grid-row-gap: 20px;
    justify-items: center;
    a {
      text-decoration: none;
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(2, 500px);
      grid-column-gap: 0px;
    }
  }
}
